package io.taig.android.parcelable

import android.os._

trait TupleParcelize {
    [#implicit def `Parcelize[Tuple1]`[[#T1: Parcelize#]] = new Parcelize[Tuple1[[#T1#]]] {
        override def read( source: Parcel ) = Tuple1( [#implicitly[Parcelize[T1]].read( source )#] )
            
        override def write( value: Tuple1[[#T1#]], destination: Parcel, flags: Int ) = {
            [#implicitly[Parcelize[T1]].write( value._1, destination, flags )#
            ]
        }
    }#
    ]
}